# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'solr6/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('solr6:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.solr6.update(os_family_map) %}

{## Merge in solr6:lookup pillar ##}
{% set solr6 = salt['pillar.get'](
        'solr6',
        default=default_settings.solr6,
        merge=True
    )
%}
